/* 
//Mobile ::view-transition

 */


@media screen and (max-width: 799px){
    
    :root {
        /*Global Variables*/
    
        /*Color Palette*/
        --primaryColor: #c6ebbe;
        --secondColor: #A9DBB8;
        --thirdColor: #7CA5B8;
        --forthColor: #38369A;
    
    
        /*Typography*/
        --heading-font: "Source Sons 3", sans-serif;
        --paragraph-font: "Montserrat", sans-serif;
    
    }

    body {
        max-width: 100%;
    }


    /*Header*/
    header {
        background-color: var(--secondColor);
    }

    header > img {
        border-radius: 50%;
        width: 20%;
        margin-right: 50px;
        display: none;
    }

    header h1 {
        text-align: center;
        padding-top: 10px;
        color: var(--firstColor);
        font-weight: 500;
        font-size: 30px;
    }


    #navMenu {
        max-width: 640px;
        background-color: var(--secondColor);
        display: flex;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
    }

    #navMenu ul {
        list-style: none;
        display: block;
    }

    #navMenu a {
        display: none;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        font-size: 150%;
        color: var(--forthColor);
        margin-left: -10%;
    }

    #navMenu a:hover{
        background-color: transparent;
        color: red;
    }

    /*HamButton*/
    #menu {
        font-size: 3rem;
        border: 0;
        background: none;
        color: var(--forthColor);
        position: absolute;
        margin-top: -4rem;
    }
    
    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }

    #navMenu.open a{
        display: block;
        font-weight: 400;
    }
    

    /*Main*/
    main {
        display: block;
        text-align: center;
        width: 100%;
    }

    .portal figure img{
        width: 100%;
    }

    #carousel img {
        width: 80%;
    }

    #info > p {
        width: 100%;
        padding: 20%;
        font-size: 120%;
    }

    #post {
        display: none;
    }

    /*Carousel*/
    #carousel {
        overflow: hidden;
        max-width: 100%;
        position: relative;

    }

    #carousel .carousel_item,
    #carousel .carousel_item--hidenn
    {
        display: none;
    }

    #carousel .carousel_item img {
        max-width: 100%;
        width: 80%;
        height: auto;
    }

    #carousel .carousel_item--visible {
        display: block;
        animation: fadeVisibility 1s;
    }

    #carousel .carousel_actions{
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    #carousel .carousel_actions button {
        border-radius: 50px;
        border: 0;
        color: var(--forthColor);
        font-weight: bold;
        width: 40px;
        height: 40px;
    }    

    #carousel_button_prev {
        margin-left: 1rem;
    }

    #carousel_button_next {
        margin-right: 1rem;
    }

    @keyframes fadeVisibility {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: opacity linear;
        }
    }


    /*Footer*/

    footer img {
        width: 30%;

    }

    footer {
        background-color: var(--thirdColor);
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        font-weight: bold;
        font-family: var(--paragraph-font);
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .logo-footer {
        display: none;
    }

    #social-media {
        grid-column: 2/3;
        margin-left: 15px;
        display: block;
        gap: 10px;
    }

    }
    
    
    /*Style for Larges Views*/
    @media screen and (min-width: 800px)
    {
        :root {
            /*Global Variables*/
    
            /*Color Palette*/
            --primaryColor: #c6ebbe;
            --secondColor: #A9DBB8;
            --thirdColor: #7CA5B8;
            --forthColor: #38369A;
    
    
            /*Typography*/
            --heading-font: "Source Sons 3", sans-serif;
            --paragraph-font: "Montserrat", sans-serif;
    
        }
    
    
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    
        #menu {
            display: none;
        }
    
        h1, h2, h3 {
            font-family: var(--heading-font);
        }
    
        p {
            font-family: var(--paragraph-font);
        }
    
        body{
            max-width: 100%;
        }
    
        /*Header Style*/
    
        header {
            display: flex;
            background-color: var(--secondColor);
            padding: 1.5rem;
            margin: 0 auto;
            font-family: var(--heading-font);
            border-radius: 5px;
            align-items: center;
            justify-content: space-between;
        }
    
        .logo {
            border-radius: 50%;
        }
    
    
        #navMenu {
            background-color: var(--secondColor);
            font-size: 100%;
            width: 100%;
            color: var(--primaryColor);
        }
    
        #navMenu ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
        }
    
        #navMenu ul li {
            margin-left: 100px;
            border: 2px solid var(--forthColor) ;
            padding: 2rem;
            border-radius: 15px;
            box-shadow: 5px 5px 20px var(--forthColor);
            color: var(--forthColor);
            font-weight: 700;
        }
    
        #navMenu ul li a {
            color: var(--forthColor);
        }
    
        #navMenu ul li:hover a {
            color: white;
        }
    
        #navMenu ul li:hover {
            background-color: var(--forthColor);
            color: white;
        }
    
        #navMenu a {
            color:  white;
            text-decoration: none;
            font-size: 20px;
            text-align: center;
        }
    
        header h1 {
            font-size: 100px;
            text-align: center;
            margin-left: 1.5rem;
        }
    
    
        /*Style of the Footer*/
        footer {
            background-color: var(--thirdColor);
            padding: 20px;
            margin-top: 10px;
            color: black;
            font-size: 90%;
            font-family: var(--paragraph-font);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    
        .logo-footer {
            grid-area: 1/2/2/3;
            text-align: center;
            align-self: center;
        }
    
        .logo-footer button,
        .logo-footer img
        {
            border-radius: 50%;
        }
    
        #social-media {
            grid-area: 1/3/2/4;
            justify-self: center;
            align-self: center;
            display: inline;
        }
    
        #social-media > a {
            margin-right: 5rem;
        }
    
    
        /*Style of the main*/
    
        #carousel {
            display: none;
        }
    
        main {
            display: grid;
            grid-template-columns: 65% 35%;
            padding: 2rem;
        }
    
        #info > p {
            text-align: justify;
        }
    
        #info {
            text-align: center;
            grid-column: 2/3;
            grid-row: 1;
            display: block;
        }
    
    
        #jeimy{
            border-radius: 50%;
            box-shadow: 5px 5px 20px var(--thirdColor);
        }
    
        .portal {
            grid-column: 1/2;
            text-align: center;
        }

        .portal figure img {
            width: 95%;
            margin-bottom: 0;
        }
    
        #post {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
            text-align: center;
        }
    
        #post_section {
            grid-column: 1/2;
            text-align: center;
            margin-top: -15rem;
        }
    
        #post_section > h2 {
            font-size: 100px;
            font-weight: 400;
            text-shadow: 2px 2px 4px rgb(56, 54, 154, 0.3);
            background-color: #7CA5B8;
            margin-left: 100px;
            margin-right: 100px;
            border-radius: 5px;
        }
    }