:root {
    /*Global Variables*/

    /*Color Palette*/
    --primaryColor: #c6ebbe;
    --secondColor: #A9DBB8;
    --thirdColor: #7CA5B8;
    --forthColor: #38369A;


    /*Typography*/
    --heading-font: "Source Sons 3", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;

}

body {
    max-width: 100%;
}


/*Header*/
header {
    background-color: var(--secondColor);
}

header > img {
    border-radius: 50%;
    width: 20%;
    margin-right: 50px;
    display: none;
}

header h1 {
    text-align: center;
    padding-top: 10px;
    color: var(--firstColor);
    font-weight: 500;
    font-size: 30px;
}


#navMenu {
    max-width: 640px;
    background-color: var(--secondColor);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

#navMenu ul {
    list-style: none;
    display: block;
}

#navMenu a {
    display: none;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 150%;
    color: var(--forthColor);
    margin-left: -10%;
}

#navMenu a:hover{
    background-color: transparent;
    color: red;
}

/*HamButton*/
#menu {
    font-size: 3rem;
    border: 0;
    background: none;
    color: var(--forthColor);
    position: absolute;
    margin-top: -4rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#navMenu.open a{
    display: block;
    font-weight: 400;
}


footer img {
    width: 30%;

}


/*Footer*/
footer {
    background-color: var(--thirdColor);
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.logo-footer {
    display: none;
}

#social-media {
    grid-column: 2/3;
    margin-left: 15px;
    display: block;
    gap: 10px;
}

/*Form-------------------*/

#formulario-dates {
    text-align: center;
    border-radius: 5px;
    border: solid var(--thirdColor);
    margin: 0 1rem;
    background-color: var(--secondColor);
}

.form1 fieldset{
	margin-top: 0;
	padding: 10px;
	font-family: var(--principal-font);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#input[type="text"],
#input[type="tel"],
#input[type="email"]
{
    height: 35px;
}

label {
	margin-top: 15px;
	margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 120%;
    font-family: var(--paragraph-font);
}

/*Histories----------------------------------------------------*/

#histories-clic nav {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

#histories-clic nav a {
    padding: 2rem 0;
    text-align: center;
    font-family: var(--paragraph-font);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5rem;
    border: solid var(--primaryColor);
    padding: 10px;
}

#histories-clic nav a:hover {

    background-color: var(--thirdColor);
}


#histories {
    display: flex;
}

#history-dynamic {
    width: 100%;
    border: solid var(--forthColor);
    margin: 0 10px;
    border-radius: 5px;
}

#history-dynamic h2 {
    font-family: var(--heading-font);
    font-size: 150%;
    text-align: center;
    color: #38369A;
    border-bottom: solid var(--thirdColor);
}

#history-dynamic p {
    text-align: justify;
    padding: 1rem;
    font-family: var(--paragraph-font);
}

/*Table of Questions..........................................*/

#questions{
    margin: 0 auto; /* Centrar horizontalmente */
    width: 80%; /* Ancho del contenedor, ajusta según tus necesidades */
}

#questions table {
    text-align: left;
    margin-top: 2rem;
    width: 50%;
}

#questions table #question {
    display: block;
    width: 100%;
}

#questions a:hover {
    color: red;
}

#questions li {
    margin-top: 4rem;
}


.questionTitle {
    font-family: var(--paragraph-font);
    text-align: center;
    font-size: 90%;
}

.questionAnswer {
    font-family: var(--paragraph-font);
    font-size: 95%;
}

#containerlogoInTable {
    text-align: center;
}

#containerlogoInTable > img {
    border-radius: 50%;
    box-shadow: 5px 5px 15px var(--forthColor);
}
















@media screen and (min-width: 800px ) {





    
}