/* This file will apply for devices with a min-width of 500px */




@media screen and (min-width: 500px) {

    header {
        color: white;
        background-color: black;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
};